<header>
  <h1 class="logo bold">Know</h1><h1 class="logo light">Media</h1>
</header>

<div class="topics">
  <button class="topic button sport" ng-click="go('/questions/sport/1')">Sport <i class="icon ion-record sport"></i></button>
  <button class="topic button politics" ng-click="go('/questions/politics/1')">Politik <i class="icon ion-record politics"></i></button>
  <button class="topic button global" ng-click="go('/questions/global/1')">Global <i class="icon ion-record global"></i></button>
</div>
