<div class="question-image">
  <img src="img/facebook.jpg">
  <span class="overlay"></span>
</div>

<div class="question">Facebook is in a row with a games ﬁrm over the purchase of a virtual reality company. What company is it?</div>

<div class="answers">
  <button class="answer button" ng-click="answer(0)">IO interactive<span>1</span></button>
  <button class="answer button" ng-click="answer(1)">Greeen Throttle<span>1</span></button>
  <button class="answer button" ng-click="answer(2)">Oculus Rift<span>1</span></button>
</div>
